<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="InternetProgrammingProjectConnectionString" connectionString="Data Source=NICKNICKNICKNIC\SQLEXPRESS;Initial Catalog=InternetProgrammingProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InternetProgrammingProjectConnectionString2" connectionString="Data Source=.\SQLExpress;Initial Catalog=InternetProgrammingProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  </configuration>
